h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

span {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content > div {
    width:45%;
}

.route {
    border:1px black solid;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.activity {
    border: 1px grey solid;
    display:flex;
    margin-bottom: 30px;
}

.activityImage {
    object-fit: cover;
    max-width:30%;
    margin-right: 10px;
}

.ajouter {
    border: none;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px rgb(56, 55, 56) solid;
    border-radius: 10px;
    width:120px;
}

button {
    background-color: white;
    color: black;
    transition: 0.5s;
}

button:hover {
    background-color: black;
    color:white;
    transition: 0.5s;
}

/* Ajoutez ces styles dans votre fichier styles.css */

.itineraire-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0077FF; /* Couleur de fond du bouton */
    color: #FFFFFF; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.itineraire-button:hover {
    background-color: #0055CC; /* Couleur de fond du bouton au survol */
}